@charset "UTF-8";

.ldc{
	width: 1250px;
	margin: auto;
}

.st{
	margin: auto;
}

.lt{
	margin: auto;
}
.topimg {
	margin: auto;
	width: 100%;
	height: 230px;
}
.listtdc {
	align:"center";
	margin: auto;
	border-
	
}

