@charset "UTF-8";


.wrapper footer{position:relative;background-color:#212121}
.wrapper footer .footer-inner{padding:0px 40px;margin:0 auto;width:100%;max-width:1200px;box-sizing:border-box;}
.wrapper footer .footer-inner .footer-menu{overflow:hidden;padding:40px 0px;border-bottom:1px solid #383838;}
.wrapper footer .footer-inner .footer-menu > li{float:left;width:25%;}
.wrapper footer .footer-inner .footer-menu > li > a{display:block;font-size:18px;color:#fff;}
.wrapper footer .footer-inner .footer-menu > li > ul{margin-top:8px;}
.wrapper footer .footer-inner .footer-menu > li > ul > li{float:none;width:100%;margin:3px 0px 4px 0px;}
.wrapper footer .footer-inner .footer-menu > li > ul > li > a{padding:2px 0px 1px 0px;font-size:14px;color:#bfbfbf;font-weight:300}
.wrapper footer .footer-inner .footer-other{overflow:hidden;padding:40px 0px 30px 0px;}
.wrapper footer .footer-inner .footer-other .other-element{position:relative;float:left;width:250px;min-height:200px;margin-right:40px;}
.wrapper footer .footer-inner .footer-other .other-element:last-child{margin-right:0px;}
.wrapper footer .footer-inner .footer-other .other-element .other-title{font-size:16px;color:#bfbfbf;padding-bottom:20px;}
.wrapper footer .footer-inner .footer-other .other-element .other-lank{position:relative;overflow:hidden;}
.wrapper footer .footer-inner .footer-other .other-element .other-lank a{position:relative;display:inline-block;font-size:16px;color:#fff;padding:0px 35px 10px 0px;text-decoration:none}
.wrapper footer .footer-inner .footer-other .other-element .other-lank a span{width:17px;height:14px;position:absolute;right:0px;top:2px;z-index:1;background-image:url(../../images/2018/ico-link.png);background-size:16px 14px;background-repeat:no-repeat;}
.wrapper footer .footer-inner .footer-other .other-element .copyright-text1{margin-top:15px;font-size:13px;color:#9b9b9b;font-weight:300;line-height:20px}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu{position:absolute;bottom:0px;left:0px;z-index:1;width:100%;height:30px;}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu li{position:relative;float:left;}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu li:first-child{margin-right:10px;}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu li:last-child{margin-right:0px;margin-left:10px}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu li:after{content:'';display:block;width:1px;height:14px;background-color:#424242;position:absolute;right:-10px;top:0px;z-index:1;}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu li:last-child:after{display:none;}
.wrapper footer .footer-inner .footer-other .other-element .terms-menu li a{display:block;font-size:13px;color:#9b9b9b;}
.wrapper footer .footer-inner .footer-other .other-element .other-infor{overflow:hidden;margin-top:15px;}
.wrapper footer .footer-inner .footer-other .other-element .other-infor li{position:relative;font-size:13px;color:#9b9b9b;padding:0px 0px 10px 20px;}
.wrapper footer .footer-inner .footer-other .other-element .other-infor li:last-child{padding:0px;}
.wrapper footer .footer-inner .footer-other .other-element .other-infor li span{display:inline-block;vertical-align:middle;width:14px;height:14px;position:absolute;left:0px;top:0px;z-index:1;background-repeat:no-repeat;}
.wrapper footer .footer-inner .footer-other .other-element .other-infor li span.time{background-image:url(../../images/clock.jpg);background-size:14px 14px }
.wrapper footer .footer-inner .footer-other .other-element .other-infor li span.email{width:14px;height:10px;margin-top:3px;background-image:url(../../images/2018/ico-email.png);background-size:14px 10px}
.wrapper footer .footer-inner .footer-other .other-element .other-infor li span.tel{background-image:url(../../images/2018/ico-phone.png);background-size:14px 14px}
.wrapper footer .footer-inner .footer-other .other-element .other-1330{padding-bottom:27px;border-bottom:1px solid #383838;margin:10px 0px 20px 0px;}
.wrapper footer .footer-inner .footer-other .other-element .other-btn{margin-top:0px;}
.wrapper footer .footer-inner .footer-other .other-element .other-btn a{display:block;padding-bottom:5px;}
.wrapper footer .footer-inner .footer-other .other-element .footer-sns{overflow:hidden;text-align:right;padding:10px 15px 5px 0px;}
.wrapper footer .footer-inner .footer-other .other-element .footer-sns a{display:inline-block;margin-left:15px;width:15px;height:10px;font-size:20px;color:#fefefe;}
.wrapper footer .footer-inner .footer-other .other-element .footer-sns a span.ion-social-instart{display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-image:url(../../images/2018/ico-ins.png);background-position:center center;background-size:16px 16px;}
.wrapper footer .footer-inner .footer-other .other-element .footer-sns a span.ion-social-wei{display:inline-block;width:20px;height:16px;background-repeat:no-repeat;background-image:url(../../images/2018/ico-wei.png);background-position:center center;background-size:20px 16px;}
.wrapper footer .footer-inner .footer-other .other-element .footer-sns a span.ion-social-yk{display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-image:url(../../images/2018/ico-youku.png);background-position:center center;background-size:16px 16px;}
.wrapper footer .copyright{padding:15px 20px;text-align:center;background-color:#000;font-size:13px;color:#797979;}
.mobile-menu-open,.mobile-search-open,.mobile-unity,.mobile-menu-close,.mobile-sns,.mobile-lang{display:none;}

@media all and (max-width:1200px) {
   .wrapper footer .footer-inner .footer-other .other-element .footer-sns{display:none;}
   .wrapper footer .footer-inner .footer-other .other-element .terms-menu{position:relative;}
}
@media all and (max-width:1024px) {
   .wrapper footer .footer-inner .footer-other .other-element.e3,.wrapper footer .footer-inner .footer-other .other-element.e4{margin-top:30px;}
   .wrapper footer .footer-inner .footer-other .other-element .other-1330{padding-bottom:15px;}
}
@media all and (max-width:650px) {
   .wrapper footer .footer-inner .footer-menu{display:none;}
   .wrapper footer .footer-inner .footer-other .other-element{width:50%;padding-right:20px;margin-right:0px;box-sizing:border-box;min-height:150px;}
   .wrapper footer .footer-inner .footer-other{margin-right:-20px;}
   .wrapper footer .footer-inner .footer-other{padding:40px 0px 20px 0px;}
}

@media all and (max-width:500px) {
   .wrapper footer .footer-inner .footer-other .other-element{width:100%;padding-right:0px;}
   .wrapper footer .footer-inner .footer-other{margin-right:0px;}
   .wrapper footer .footer-inner .footer-other .other-element .footer-sns{text-align:left;}
   .wrapper header .header-inner h1{background-size:100% 36px !important;height:18px;margin:31px 0px 0px 0px;}
   .wrapper header .header-inner h1 a{width:200px;height:18px;}
   .wrapper header.fixed .header-inner h1{margin-top:20px;}
   .wrapper header.fixed .header-inner h1 img{width:100%;}
   .mobile-menu-open{left:20px;}
}

